body {
    font-family: "Spirax", sans-serif;
    background-image: url("img/cosy.jpg");
    background-color: black;
    margin-top: 0;
    background-position: center top;
    background-repeat: no-repeat;
}

header {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    background: black;
    opacity: 0.7;
    justify-content: center;
}

a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.relative {
    display:flex;
    justify-content: center;
    width:100%;
    position: relative;
    top:4rem;

}

.absolute {
    align-self:flex-start;
}
.second {
    align-self:center;
}
h1 {
    display: flex;
    justify-content: center;
    position: relative;
    color: darkred;
    font-size: 7rem;
}

h2 {
    position: absolute;
    top:13.5rem;
    left:32rem;
    width:30%;
    background-color: darkred;
    opacity: 0.7;
    padding: 1rem;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "Poiret One", sans-serif;
    color: white
}

@media screen and (min-width: 320px) {
    .meny {
        display: flex;
        flex-direction: column;
        justify-content: "center";
    }

}