
body {
    font-family: "Spirax", sans-serif;
    background-image: url("img/cosy.jpg");
    background-color: black;
    margin-top: 0;
    background-position: center top;
    background-repeat: no-repeat;
}
.hot{
    background-image: url("img/hot.jpg");
}
.juicy{
    background-image: url("img/juicy.jpg");
}
header {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    background: black;
    opacity: 0.7;
    justify-content: center;
}

a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.relative {
    display:flex;
    justify-content: center;
    width:100%;
    position: relative;
    top:3.5rem;

}

.absolute {
    align-self:flex-start;
}
.second {
    position: absolute;
    width:100%;
    top:14.7rem;
    left:39rem;
}
.third {
    position: absolute;
    top:19.5rem;
    left:45.5rem;
}
.fourth {
    position: absolute;
    top:24rem;
    align-self: flex-center;    
    text-align:right ;
}
h1 {
    display: flex;
    justify-content: center;
    position: relative;
    color: darkred;
    font-size: 7rem;
}

h2 {
    display: flex;
    justify-content: center;
    width:29rem;
    background-color: darkred;
    opacity: 0.7;
    padding: 1rem;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "Poiret One", sans-serif;
    color: white
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:50%;
}
.left{
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    width:50%;
}
p{
    margin:0;
}
@media screen and (max-width: 320px) {
    .second {
       position: absolute;
       left:5px;
       right:5px;
    }
    
    .third{
        display: none;
    }
    .fourth{
        position:absolute;
        top:20rem;
        width:100%
    }
    h2{
        width: 80%;
        margin:0%;
    }

}
